<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
<div data-controller="lobby"
     data-lobby-id-value="<%= @game_session.lobby.id %>"
     id="<%= dom_id(@game_session.lobby) %>"
     class='lobby-div'
>
  <div class="container-lobby mh-100">
    <div class="row mh-100" style="height: 100%;">
      <div class="col-6 col-md-5 col-lg-5 col-xl-4 left-column" style="height: 100%;">
        <div class="bg-light p-2 players-container">
          <div class="d-flex align-items-center py-3 bg-white p-1 mb-1 lobby-owner lobby-player"
            id="<%= dom_id(@game_session.lobby.owner) %>">
            <div class="avatar avatar-small me-3 ms-2">
              <%= image_tag "avatar.png", class: 'img-fluid rounded-circle border-2 border-primary border' %>
            </div>
            <div class="name flex-grow-1">
              <p class="lh-1">Apprentice</p>
              <h4 class="m-0 lh-1"><%= @game_session.lobby.owner.username %></h4>
            </div>
            <div class="d-flex flex-column justify-content-between align-items-center me-2">
              <div class="user-badge mb-3">
                <%= image_tag "Vector.svg" %>
              </div>
              <div class="user-badge">
                <i class="far fa-check-circle"></i>
              </div>
            </div>
          </div>
          <!-- LISFT OF LOBBY PLAYERS -->
          <div class='players'>
            <% @game_session.game.game_sessions.open.includes(:user).each do |session| %>
              <% next if @game_session.lobby.owner == session.user %>
              <%= render partial: 'shared/game_session', locals: {session: session} %>
            <% end %>
          </div>
          <!-- LISFT OF LOBBY PLAYERS -->
        </div>
        <div class="inv-buttons">
          <%= button_tag 'INVITE', value: @game_session.lobby.code, id: 'lobbyCode', class: 'button small empty me-2' %>
          <%= button_tag "JOIN", data: { bs_toggle: "modal", bs_target: '#askLobby' }, class: 'button small filled' %>
          <div id="alert-container">
          </div>
        </div>
      </div>
      <!-- LEFT COLUMN - PLAYERS + BUTTONS -->
      <!-- MODAL -->
      <div class="modal fade" id="askLobby" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= simple_form_for(:lobby, url: join_lobby_path(:lobby)) do |f| %>
              <%= f.input :code,
                          required: true,
                          input_html: {value: '', autocomplete: 'off'},
                          class: 'form-control p-2',
                          placeholder: 'lobby code' %>
              <%= f.submit 'JOIN', class: 'button large filled' %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- MODAL -->
      <!-- RIGHT COLUMN - SETTINGS + BUTTONS + CHAT -->
      <div class="col-6 col-md-7 col-lg-7 col-xl-8 d-flex flex-column mt-1 lobby-settings-container">
        <div class="d-flex mb-1 ms-4 align-items-center justify-content-between mt-1">
          <div class="d-flex justify-content-center align-items-center position-relative">
            <h2 class="text-uppercase font-weight-bold me-5 fs-4"> Game modes</h2>
          </div>
          <div class="d-flex align-items-md-center">
            <%#= link_to 'Ready', ready_path, class: 'btn-enter-outline me-4', data: {remote: true} %>
            <%= button_to 'â† Back', destroy_user_session_path, method: "delete", class: 'btn-back', data: {remote: false} %>
            <%#= link_to 'Start', start_path, class: 'btn-enter me-5' %>
          </div>
        </div>
        <%= render partial: 'settings', locals: {game_session: @game_session}%>
        <%= render partial: 'chat', locals: {lobby: @game_session.lobby, message: @message} %>
      </div>
      <!-- RIGHT COLUMN - SETTINGS + BUTTONS + CHAT -->
    </div>
  </div>
</div>
