<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
<div data-controller="lobby"
     data-lobby-id-value="<%= @game_session.lobby.id %>"
     id="<%= dom_id(@game_session.lobby) %>"
     class='lobby-div'
>
  <div class="container-lobby mh-100"
       data-controller="players"
       data-players-id-value="<%= @game_session.id %>">
    <div class="row mh-100" style="height: 100%;">
      <div class="col-5 col-md-4 col-lg-4 col-xl-3 left-column" style="height: 100%;">
        <div class="bg-light p-2 players-container">
          <!-- LIST OF LOBBY PLAYERS -->
          <div class='players'>
            <% @game_session.game.game_sessions.open.includes(:user).each do |session| %>
              <%= render partial: 'shared/game_session', locals: {session: session, user: current_user} %>
            <% end %>
          </div>
          <!-- LIST OF LOBBY PLAYERS -->
        </div>
        <div class="inv-buttons">
          <%= button_tag 'INVITE', value: @game_session.lobby.code, id: 'lobbyCode', class: 'button small empty me-2' %>
          <%= button_tag "JOIN", data: { bs_toggle: "modal", bs_target: '#askLobby' }, class: 'button small filled' %>
          <div id="alert-container">
          </div>
        </div>
      </div>
      <!-- LEFT COLUMN - PLAYERS + BUTTONS -->
      <!-- MODAL -->
      <div class="modal fade" id="askLobby" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= simple_form_for(:lobby, url: join_lobby_path(:lobby)) do |f| %>
              <%= f.input :code,
                          required: true,
                          input_html: {value: '', autocomplete: 'off'},
                          class: 'form-control p-2',
                          placeholder: 'lobby code' %>
              <%= f.submit 'JOIN', class: 'button large filled' %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'modal_confirm_exit' %>
      <!-- MODAL -->
      <!-- RIGHT COLUMN - SETTINGS + BUTTONS + CHAT -->
      <div class="col-7 col-md-8 col-lg-8 col-xl-9 d-flex flex-column mt-1 lobby-settings-container">
        <div class="d-flex mb-1 ms-4 align-items-center justify-content-between mt-1">
          <div class="d-flex justify-content-center align-items-center position-relative">
            <h2 class="text-uppercase font-weight-bold me-5 fs-4"> Game modes</h2>
          </div>
          <div class="d-flex align-items-md-center">
            <%= render partial: 'lobbies/ready_counter', locals: { session: @game_session } %>
            <%= button_tag "â† Leave Lobby", data: { bs_toggle: "modal", bs_target: '#confirmExit' }, class: 'btn-back' %>
            <%#= link_to 'Start', start_path, class: 'btn-enter me-5' %>
            <% if current_user == @game_session.lobby.owner %>
              <%= render partial: 'lobbies/start_button', locals: { game_session: @game_session } %>
            <% else %>
              <%= render partial: 'lobbies/ready_button', locals: { game_session: @game_session } %>
            <% end %>
          </div>
        </div>
        <%= render partial: 'settings' %>
        <%= render partial: 'chat' %>
      </div>
      <!-- RIGHT COLUMN - SETTINGS + BUTTONS + CHAT -->
    </div>
  </div>
</div>
