<tr id="<%= "#{dom_id(session)}-finish" %>">
  <td> <%= session.user.username%> </td>
  <td> <%= session.clicks %> </td>
  <td> <%= session.calculate_finish_time %> </td>
  <td> <%= session.calculate_final_score %> </td>
</tr>
