<div class="col-sm-12 col-md-3 mb-3" data-controller="play-banner" data-play-banner-id-value="<%= @game_session.id %>">
  <div id="game-banner">
    <div>
      <div class="d-flex align-items-center mb-2">
        <img class="avatar-large me-2" src="<%= @img_start_url %>">
        <div>
          <p>START</p>
          <h3><%= @game_session.game.start_url.gsub(%r{_}, ' ') %></h3>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <img class="avatar-large me-2" src="<%= @img_end_url %>">
        <div>
          <p>GOAL</p>
          <h3><%= @game_session.game.end_url %></h3>
        </div>
      </div>
    </div>
    <div id="game-stats">
      <div>
        <p><strong>CLICKS</strong></p>
        <hr class="my-2">
        <p data-play-banner-target="clicks" id="user-counter">0</p>
      </div>
      <div>
        <p><strong>TIMER</strong></p>
        <hr class="my-2">
        <p id="timer" data-start-time="<%= @game_session.started_at %>">00:00</p>
      </div>
    </div>
    <p class="text-center fw-bold">LOBBY</p>
    <div id="player-list">
      <% @game_session.game.users.each do |user| %>
        <%= render 'player_card', { user: user } %>
      <% end  %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to 'EXIT', lobby_path, class: 'button small empty' %>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-9 h-100" data-controller="play-article">
  <div id="game-page" data-play-article-target="article">
    <%= @html_game %>
  </div>
  <div id="spinner-wrapper" data-play-article-target="spinner" class="d-none">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div data-controller="modal">
  <%= render 'layouts/modal' %>
</div>
