<div class="col-sm-12 col-md-3 mb-3">
  <div id="game-banner">
    <div>
      <div class="d-flex align-items-center mb-2">
        <img class="avatar-large me-2" src="<%= @img_start_url %>">
        <div>
          <p>START</p>
          <h3><%= @game_session.game.start_url.gsub(%r{_}, ' ') %></h3>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <img class="avatar-large me-2" src="<%= @img_end_url %>">
        <div>
          <p>GOAL</p>
          <h3><%= @game_session.game.end_url %></h3>
        </div>
      </div>
    </div>
    <div id="game-stats">
      <div>
        <p class="border-bottom border-secondary"><strong>CLICKS</strong></p>
        <p data-controller="play-page"
           id="<%= dom_id(@game_session) %>"
           data-play-page-id-value="<%= @game_session.id %>">
           <%= @game_session.clicks.count %>
        </p>
      </div>
      <div>
        <p class="border-bottom border-secondary"><strong>TIMER</strong></p>
        <p id="timer" data-start-time="<%= @game_session.started_at %>"></p>
      </div>
    </div>
    <p class="text-center fw-bold">LOBBY</p>
    <div id="player-list" data-play-page-target="players">
      <% @game_session.game.users.each do |player| %>
        <%= render 'player_card', { player: player, game_session: @game_session } %>
      <% end  %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to 'EXIT', lobby_path, class: 'button small empty' %>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-9 h-100" data-controller="play-page">
  <div id="game-page" data-play-page-target="article">
    <%= @html_game %>
  </div>
</div>
<div data-controller="modal">
  <%= render 'layouts/modal' %>
</div>
