<div class="col-sm-12 col-md-3 mb-3" data-controller="play-banner" data-play-banner-id-value="<%= @game_session.lobby.id %>">
  <div id="game-banner">
    <div class='game-url-cards'>
      <div class="url-card url-card-start">
        <img class="avatar-large" src="<%= @img_start_url %>">
        <div class='card-content'>
          <p>START</p>
          <h3><%= @game_session.game.start_url.gsub(%r{_}, ' ') %></h3>
        </div>
      </div>
      <div class="url-card url-card-end">
        <img class="avatar-large" src="<%= @img_end_url %>">
        <div class='card-content'>
          <p>GOAL</p>
          <h3><%= @game_session.game.end_url.gsub(%r{_}, ' ') %></h3>
        </div>
      </div>
    </div>
    <div id="game-stats">
      <div>
        <p><strong>CLICKS</strong></p>
        <hr class="my-2">
        <p data-play-banner-target="clicks" id="user-counter">0</p>
      </div>
      <div>
        <p><strong>TIMER</strong></p>
        <hr class="my-2">
        <p id="timer" data-start-time="<%= @game_session.started_at %>">00:00</p>
      </div>
    </div>
    <div id="player-list">
      <p class="text-center fw-bold">LOBBY</p>
      <% @game_session.sibling_game_sessions.includes(:user).each do |game_session| %>
        <%= render 'player_card', { game_session: game_session, current_user: current_user } %>
      <% end %>
    </div>
      <%= link_to 'EXIT', lobby_path, class: 'button small empty exit-play' %>
  </div>
</div>
<div class="col-sm-12 col-md-9 h-100 article-container" data-controller="play-article">
  <div>
    <a href="" class="d-none">Back</a>
  </div>
  <div id="game-page" data-play-article-target="article">
    <%= @html_game %>
  </div>
  <div id="spinner-wrapper" data-play-article-target="spinner" class="d-none">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div data-controller="modal" data-modal-id-value="<%= @game_session.id %>">
  <%= render partial: 'modal_scores', locals: { all_sessions: @game_session.sibling_game_sessions,
                                                current_user: current_user,
                                                game_session: @game_session } %>
</div>
