<div class="d-flex align-items-center py-3 bg-white p-1 mb-1 lobby-player"
     id="<%= dom_id(session) %>">
  <div class="avatar avatar-small me-3 ms-2">
    <%= image_tag "avatars/Multiavatar-#{rand(1..48)}.png", class: 'img-fluid rounded-circle border-2 border-primary border' %>
  </div>
  <div class="name flex-grow-1">
    <p class="lh-1">Apprentice</p>
    <h4 class="m-0 lh-1"><%= session.user.username %></h4>
  </div>
  <div class="d-flex flex-column justify-content-between align-items-center me-2 badges">
    <% if session.user == session.lobby.owner %>
      <div class="user-badge mb-3">
        <%= image_tag "Vector.svg" %>
      </div>
    <% end %>
    <div class="user-badge">
      <i class="far fa-check-circle <%= "player-is-ready" if session.ready  %>"></i>
    </div>
    <% if user == session.lobby.owner && user != session.user %>
      <%= render partial: 'shared/kick_button', locals: { session: session } %>
    <% end %>
  </div>
</div>
